body{
  background-color: rgb(52, 58, 64) !important;
}

.t-card {
  max-width: 100%;
  border: 1px solid #ccc;
  background: white;
}

.t-card.active{
  box-shadow: 0 0 0 5px #ffc107;
}

.action-buttons button:after {
    content:attr(title);
    display:block;
    margin-top: 2px;
    font-size: 10px;
    left:0;
    top:0;
    color:white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.action-buttons .fa {
  font-size: 3vw;
}

@media screen and (max-width: 1050px) {
    .action-buttons .fa {
        font-size: 1.5vw;
    }

    .action-buttons button:after {
        display:none;
    }
}

.full-height {
  min-height: 90vh;
}

.full-height > [class*="col-"]{
  min-height: 90vh;
}

.drop-here .drop-area {
  height: 50px;
}

.nav-tabs .nav-link:not(.active):hover {
    border-color: #ccc;
    background: #ccc;
    opacity: 0.5;
}

.state-size{
  width: 100%;
}

div.state-size{
	position: relative;
	width: 100%;		/* desired width */
}
div.state-size:after{
	content: "";
	display: block;
	padding-top: 68.16%; 	/* initial ratio of 1:1*/
}

.draggable {
  position: absolute;
  border-width: 2px !important;
  box-sizing: border-box;
  background: rgba(255,255,255,0.2);
  background-image: repeating-linear-gradient(-45deg,
    transparent,
    transparent 2px,
    white 2px,
    white 4px);
}

.font-xs {
  font-size: 8px;
}

.line-correct{
  line-height:1.5em;
}

.ellip {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
}

.my-dragging {
  opacity: 0.5;
}

#output-files .card {
  margin-bottom: 5px;
}

#origin-offset {
  position: absolute;
}

.half-tone {
  opacity: 0.5;
  pointer-events: none;
}

.nested-half-tone {
  opacity: 1;
  pointer-events: auto;
}
