<div id="output-files" class="menu-item">
  <h1 class="text-light">Output Files</h1>

  <div class="card">
    <div class="card-header">
      <h5>Design Lists</h5>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>Assets</th>
            <th>Keyframes</th>
            <th>Height</th>
            <th>Width</th>
            <th>Expected Name</th>
          </tr>
        </thead>
        <tr ng-repeat="c in ctrl.designLists().assets">
          <td>{{c.title}}</td>
          <td>
            {{c.params.keyframe}}
          </td>
          <td>{{c.params.height}}</td>
          <td>{{c.params.width}}</td>
          <td>{{c.params.assetName}}</td>
        </tr>
      </table>
      <br/>
      <table class="table">
        <thead>
          <tr>
            <th>Sounds</th>
            <th>Source</th>
          </tr>
        </thead>
        <tr ng-repeat="c in ctrl.designLists().sounds">
          <td>{{c.title}}</td>
          <td>{{c.source}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div ng-if="!content.code">
    <div class="alert alert-danger">
      <h1>Add Global Settings to create files</h1>
    </div>
  </div>

  <br/>
  <div class="d-flex justify-content-around">
    <!-- <div class="btn btn-primary" ng-class="{'btn-primary': ctrl.rendererType == 'canvas', 'btn-secondary': ctrl.rendererType != 'canvas' }" ng-click="ctrl.rendererType = 'canvas';">
      Canvas Renderer
    </div> -->
    <div class="btn btn-primary" ng-class="{'btn-primary': ctrl.rendererType == 'fs', 'btn-secondary': ctrl.rendererType != 'fs' }" ng-click="ctrl.rendererType = 'fs';">
      Freestyle Renderer
    </div>

    <div class="text-white">
      URL (when finished): <a class="btn btn-link" target="_blank" ng-href="http://localhost:8000/#/demo/{{ctrl.underscoreCode()}}">http://localhost:8000/#/demo/{{ctrl.underscoreCode()}}</a>
    </div>
  </div>
  <br/>

  <div ng-if="content.code">
    <div class="card" ng-if="ctrl.rendererType == 'canvas'">
      <div class="card-header">
        <h5>Index File: <span class="float-right">src/renderers/{{ctrl.underscoreCode()}}/index.js</span></h5>
      </div>
      <div class="card-body">
        <code>
        <div>import <span ng-bind="ctrl.upperCode()"></span>sRenderer from './<span ng-bind="ctrl.upperCode()"></span>sRenderer';</div>
        <br/>
        <div>export const renderer = <span ng-bind="ctrl.upperCode()"></span>sRenderer;</div>
      </code>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h5>Fake Assets File <span class="float-right">assets/styles/{{ctrl.underscoreCode()}}.js</span></h5>
      </div>
      <div class="card-body">
        <code>
        const lib = {};
        <br/><br/>

        <div ng-repeat="a in ctrl.assetsFile()">
          {{a}}
        </div>
        <br/>
        module.exports = { <span ng-bind="ctrl.underscoreCode().toUpperCase()"></span>: lib };<br/>
        <br/>
      </code>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h5>Renderer File <span class="float-right">src/renderers/fs_t1/{{content.code}}/renderer.js</span></h5>
      </div>
      <div class="card-body">
        <code>
        <div>import { GLOBAL } from '@cainc/ifabric';</div>
        <div>import { <span ng-bind="ctrl.underscoreCode().toUpperCase()"></span> as assets } from 'styles/<span ng-bind="ctrl.underscoreCode()"></span>';</div>
        <div ng-bind-html="ctrl.constantsFile()"></div>
      </code>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h5>Fake Style <span class="float-right">
        <span class="text-info">Charles:</span>
        content/shared/styles/{{ctrl.underscoreCode().toUpperCase()}}/style.json</span></h5>
      </div>
      <div class="card-body">
        <code>
          {
            "id": "fs_t1",
            "type": "style",
            "module": "FSLearningAdapter",
            "rendererData": [{
              "id": "state_0"
            }]
          }
      </code>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h5>Fake Authoring
        <span class="float-right">
          <span class="text-info">Charles:</span> content/math/demo/{{ctrl.underscoreCode()}}/{{ctrl.underscoreCode()}}.json</span>
      </h5>
      </div>
      <div class="card-body">
        <code ng-bind="ctrl.authoringFile()">  </code>
      </div>
    </div>
    <div class="card" ng-if="ctrl.rendererType == 'fs'" ng-repeat="w in ctrl.rendererWidgets()" ng-switch="w.reactComponentType" ng-hide="w.source == 'global'">
      <div class="card-header">
        <h5>{{w.title}} <span class="float-right">src/renderers/fs_t1/{{content.code}}/{{w.var}}.js</span></h5>
      </div>
      <div class="card-body" ng-switch-when="classInstance">
        <code>
          <div>import { assets } from 'renderer';</div>
          export class {{w.var}} extends React.Component { <br/>
          static get propTypes() { <br/>
            return { <br/>
              width: PropTypes.number, <br/>
              height: PropTypes.number, <br/>
              x: PropTypes.number, <br/>
              y: PropTypes.number, <br/>
              visible: PropTypes.bool, <br/>
              classList: PropTypes.arrayOf(PropTypes.string), <br/>
              parent: PropTypes.object, // eslint-disable-line react/forbid-prop-types <br/>
            }; <br/>
          } <br/>

          render() { <br/>
            return (&lt;div <br/>
              className="widget"<br/>
              style={{ <br/>
                width: props.width,
                height: props.height,
                display: this.props.visible ? 'block' : 'none', <br/>
                transform: `translate3d(${this.props.x}px, ${this.props.y}px, 0)` }} <br/>
              ref={({{w.var}}) => { this.{{w.var}} = {{w.var}}; }}&gt; <br/>
              &lt;img src={assets.{{w.var}}} alt="placeholder-image" /&gt; <br/>
              &lt;/div&gt;); <br/>
          } <br/>
        } <br/>
      </code>
      </div>
      <div class="card-body" ng-switch-when="functionalComponent">
        <code>
          <div>import { assets } from 'renderer';</div>
          export const {{w.var}} = function {{w.var}}(props, renderer) { <br/>
          return (&lt;div <br/>
          id="w.var" <br/>
          key="{{w.var}}" <br/>
          className={`widget ${props.classList.join(' ')}`} <br/>
          style={{ <br/>
            width: props.width, <br/>
            height: props.height, <br/>
            display: this.props.visible ? 'block' : 'none', <br/>
            transform: `translate3d(${props.x}px, ${props.y}px, 0) scale(${props.scale})`, <br/>
          }} &gt; <br/>
          &lt;img src={assets.{{w.var}}} alt="placeholder-image" /&gt; <br/>
          &lt;/div&gt;); <br/>
          }<br/>

          {{w.var}}.propTypes = { <br/>
            width: PropTypes.number, <br/>
            height: PropTypes.number, <br/>
            x: PropTypes.number, <br/>
            y: PropTypes.number, <br/>
            visible: PropTypes.number, <br/>
            scale: PropTypes.number, <br/>
            classList: PropTypes.arrayOf(PropTypes.string), <br/>
          }; <br/>
        </code>
      </div>
    </div>

    <br/>
    <div style="display:none">
      <h2 class="text-warning">Dragons</h2>
      <br/>

      <div class="card">
        <div class="card-header">
          <h5>Unit Test Stubs</h5>
        </div>
        <div class="card-body">
          <p>Some Documentation</p>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h5>Integration Test Stubs</h5>
        </div>
        <div class="card-body">
          <p>Some Documentation</p>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h5>Display Stubs</h5>
        </div>
        <div class="card-body">
          <p>Some Documentation</p>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h5>Orchestrator Stubs</h5>
        </div>
        <div class="card-body">
          <p>Some Documentation</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h5>Raw Spec Tool Data</h5>
      </div>
      <div class="card-body">
        <p class="font-xs" ng-bind="content | json"></p>
      </div>
    </div>
  </div>
</div>
